# Python files
*.pyc
__pycache__/
*.egg-info/

# uv files
uv.lock

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Viz files
*.png
*.mp4

# Dataset files
*.pkl
*.tfrecord
*.npz
*.h5
*.json
*.db
*.bin

# Allow test data for CI
!tests/data/**/*.tfrecord
!tests/data/**/*.db
